# Basic authentication
_auth = alex.hinds@weareadaptive.com:<PASSWORD> (converted to base 64)
email = youremail@email.com
always-auth = true

# npm config set @adaptive:registry https://weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/

# since the package is under adaptive, I believe this means we are working with scoped packages (Adaptive's Scoped)
@adaptive:registry=https://weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:_password=<BASE64_PASSWORD>
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:username=alex.hinds@weareadaptive.com
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:email=youremail@email.com
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:always-auth=true


# 
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:_auth=${CI_TOKEN}
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:username=${CI_USERNAME}
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:email=${CI_EMAIL}
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:always-auth=true