# since the package is under adaptive, I believe this means we are working with scoped packages (Adaptive's Scoped)
@adaptive:registry=https://weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:_authToken=${JFROG_API_KEY}
//weareadaptive.jfrog.io/artifactory/api/npm/ecp-npm-virtual/:always-auth=true