@tailwind base;
@tailwind components;
@tailwind utilities;

.default {
  appearance: none;
  width: 100%;
  height: 5px;
  background: #a9abd1;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(169, 171, 209, 0.25);
}

.default::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #a9abd1;
  cursor: pointer;
  border-radius: 50%;
}

.disabled {
  appearance: none;
  width: 100%;
  height: 5px;
  background: #bbbbbb;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 1rem;
}

.disabled::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #bbbbbb;
  cursor: pointer;
  border-radius: 50%;
}
.secondary {
  appearance: none;
  width: 100%;
  height: 5px;
  background: red;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 1rem;
}

.secondary::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  cursor: pointer;
  border-radius: 50%;
}

.small {
  appearance: none;
  width: 100%;
  height: 2.5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 1rem;
}

.small::-webkit-slider-thumb {
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border-radius: 50%;
}
