@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  width: 100vw;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #a9abd1;
  margin-top: 0px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(169, 171, 209, 0.25);
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
